<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>sample1</title>
    {% endblock %}
</head>
<body>
    {% include "partials/_topbar.html" %}
    {% include "partials/_navbar.html" %}

    <h1>Hello good afternoon {{name}}</h1>

    {% block content %}

    <h2>Welcome to sample1 page</h2>

    {% endblock %}

    {% include "partials/_footer.html" %}


</body>
</html>